@page
@model IndexModel
@{
    ViewData["Title"] = "Identity Service";
}

<div class="text-center service-details">
    <div class="api-details">
        <h1 class="display-4">MedPark Identity Service</h1>
    </div>
</div>
