@page
@model MedPark.Identity.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form asp-route-returnurl="@Model.ReturnURL" method="post">

    <div class="card w-50 register-card" >
        <div class="card-header register-card-hed">
            <h4 class="card-title login-title bold-text">Sign-up - @Model.ClientName</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Register a new account below as a medical practice or patient.</p>

            <div class="w-50">

                <div class="mb-4">
                    <label class="font-weight-bold">Account type:</label>
                    <select asp-for="Role" class="form-control" placeholder="Role of user" name="role">
                        <option value="Patient">Patient</option>
                        <option value="Practice">Practice</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="font-weight-bold">First name:</label>
                    <input asp-for="FirstName" class="form-control" placeholder="First name" name="firstname" />
                </div>

                <div class="mb-4">
                    <label class="font-weight-bold">Email:</label>
                    <input asp-for="Username" class="form-control" placeholder="Username" name="username" />
                </div>

                <div class="mb-4">
                    <label class="font-weight-bold">Password:</label>
                    <input asp-for="Password" class="form-control" placeholder="Password" name="userpassword" type="password" />
                </div>

                <div class="mb-4">
                    <label class="font-weight-bold">Re-enter password:</label>
                    <input class="form-control" placeholder="Re-enter Password" type="password" />
                </div>

                <button class="btn btn-primary">
                    Register
                </button>

            </div>
        </div>
    </div>

</form>
