@using Microsoft.AspNetCore.Authentication

@{
    string name = null;
    string accType = null;
    if (User.Claims.FirstOrDefault(x => x.Type == "firstName") != null)
    {
        name = User.Claims.FirstOrDefault(x => x.Type == "firstName").Value;
    }

    if (User.Claims.FirstOrDefault(x => x.Type == "accounttype") != null)
    {
        accType = User.Claims.FirstOrDefault(x => x.Type == "accounttype").Value;
    }
}

@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav float-right justify-content-sm-end">
        <li class="nav-item">
            Welcome back,
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>@(string.IsNullOrEmpty(name) ? User.Identity.Name : name)</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item @(accType == "patient" ? "" : "hidden")" href="/Account/Profile">Account</a>
                <a class="dropdown-item @(accType == "specialist" ? "" : "hidden")" href="/Specialist/Profile">Profile</a>
                <a class="dropdown-item" href="#">Orders</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav float-right justify-content-sm-end">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav float-right justify-content-sm-end">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Authentication" asp-action="SignUp">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
        </li>
    </ul>
}


