/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


body.identity-background{
    background:url(../images/register-bg.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}


.register-card {
    position: absolute;
    top: 5%;
    left: 25%;
    background-color:rgba(255,255,255,0.8);
}

.register-card-hed {
   background-color: #212529;
}

.login-title {
    color: #fed136;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.75em;
    line-height: inherit;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.clear {
    clear: both;
}

.alert-danger > ul{
    margin-bottom:0pc !important;
}

.flex-display{
    display:flex;
}


.service-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.api-details {
    padding: 20px;
    border: 4px solid white;
    border-radius: 25px;
}

.view-api {
    color: white;
    font-size: larger;
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}